.freeButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.freeButton:hover {
    background-color: #45a049;
}

.offsetButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #9999; 
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.notThisMonth {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #616161; 
    color: rgb(148, 148, 148); 
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.dayOfWeek {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 0%;
    background-color: #9999; 
    color: white; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.componentBackground {
    background-color: #9999;
    justify-content: center;
    width: fit-content;
    transition: background-color 0.3s;
   
}

.componentAll{
    width: fit-content;
    text-align: center;
    
}